page-about {
    .item-info {
        width: 100%;
        height: 12em;
        padding: 10px;
        img {
            display: block;
            width: 9em;
            height: 9em;
            border-radius: 50%;
            border: 3px solid rgba(255, 255, 255, 0.8);
            margin: 0 auto;
        }
        
    }
}
