<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Sobre mi
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="item-info">
    <img src="assets/asensio.callol.jpg" alt="">
  </div>
  <ion-item-group>
    <ion-item-divider color="light">Información personal</ion-item-divider>
    <ion-item>
      <ion-icon name="contact">&nbsp; Ing. Abelardo Asensio Callol</ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="call"><a href="tel:096525528">&nbsp; (+598) 96-525-528 </a></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="mail">
        <a href="mailto:asensio.callol@gmail.com">&nbsp; asensio.callol@gmail.com </a>
      </ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-linkedin">
        <a href="https://www.linkedin.com/in/asensiocallol/">&nbsp; asensio.callol</a>
      </ion-icon>
    </ion-item>
    
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">Usuario autenticado</ion-item-divider>
    <ion-item>
      <ion-icon name="contact">&nbsp; {{user.name}} {{user.lastname}}</ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="mail">
        {{user.email}}
      </ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="key">&nbsp; {{user.token}}</ion-icon>
    </ion-item>
    
  </ion-item-group>
</ion-content>
