page-login {
  .error{
    color: #fff ;
    float: left;
    font-size: 10px;
    margin-bottom: 10px;
  }
 .login-content {
    background: url('../assets/login.jpg') center fixed no-repeat;
    background-size: cover;
    .card{
      background: rgba(0,0,0,0.5) !important;
      border-radius: 5px;
    }
    .card-header{
      color: #fff !important;
    }
    .item{
      background: rgba(255,255,255,0.2) !important;
      border: none !important;
      margin: 10px 0;
      &:last-child{
         margin-bottom: 20px !important;
      }
      ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color:    #fff !important;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #fff !important;
        opacity:  1;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #fff !important;
        opacity:  1;
      }
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:    #fff !important;
      }
      ::-ms-input-placeholder { /* Microsoft Edge */
        color:    #fff !important;
      } 
    }
    
  }
  .scroll-content{
    align-content: center;
    margin: 3em auto;
   /* display: flex;
    flex-direction: column;
    justify-content: center;*/
    text-align: center;    
  }
  
}
