<ion-content class="login-content" padding>
  <ion-card>
    <ion-card-header>
      Login Form
    </ion-card-header>
    <ion-card-content>
      <div class="login-box">
          <form (ngSubmit)="login()" #registerForm="ngForm">
                <ion-list>
                  <ion-item >
                    <ion-input type="text" placeholder="Email" name="email" [formControl]="emailFormControl" [(ngModel)]="registerCredentials.email" required></ion-input>
                  </ion-item>
                  <span  class="error" *ngIf="emailFormControl.hasError('pattern')">Please enter a valid email...</span>
                  <span class="error" *ngIf="emailFormControl.hasError('required')">This value is required</span> 
                  <ion-item>
                    <ion-input type="password"  placeholder="Password" [formControl]="passwordFControl"  name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
                  </ion-item>
                  <span class="error" *ngIf="passwordFControl.hasError('required')">This value is required</span>
                </ion-list>
                <button ion-button color="action" class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Login</button>
          </form>
        </div>
    </ion-card-content>
  </ion-card>
  
</ion-content>