<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Restaurantes
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content class="home" padding>
  
  <ion-list>
    <ng-template ngFor let-item [ngForOf]="list">
      <ion-card (click)="cardDetail(item.id)">
        <ion-item>
          <ion-avatar item-start>
            <img src="https://d1v73nxuzaqxgd.cloudfront.net/restaurants/{{item.logo}}">
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <span color="danger">{{item.discount}}% descuento hoy</span>
          <ion-badge item-end color="secondary"><ion-icon ios="ios-star" md="md-star"></ion-icon> {{item.ratingScore}}</ion-badge>
        </ion-item>
        <ion-card-content>
          <p><ion-icon name="bookmark"></ion-icon> {{item.topCategories}}</p>
        </ion-card-content>
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="time"></ion-icon>
              <div>{{item.deliveryTimeMinMinutes}} - {{item.deliveryTimeMaxMinutes}} min envios</div>
            </button>
          </ion-col>
          <ion-col align="right">
            <button ion-button icon-left clear small>
              <ion-icon name="ios-heart" md="md-heart-outline"></ion-icon>
              <div>{{item.favoritesCount}}</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ng-template>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

