page-home {
  .home {
    background: #dcdcdc;
    .label > span{
      font-size: 13px;
      color: #2f884b;
    }
    .note{
      background-color: #FDC900;
      color: #fff;
    }
    .scroll-content{
      padding: 0 !important;
    }
    .card{
      margin: 5px 0 !important;
      width: 100%;
      .row{
        border-top: 1px solid #dcdcdc;
      }
      .badge{
        color: #fff;
      }
    }
    .card-content p{
      font-size: 13px;
      
    }
    .item{
      padding: 0 !important;
      img {
        width: 3em;
        height: 3em;
        margin-left: 10px;
        border-radius: 0 !important;
      }
    }
  }
}