page-map {
    #map {
        height: 100%;
    }
    .scroll-content{
      padding: 0 !important;
    }
    .action-sheets-basic-page {
        .ion-md-share {
            color: #ED4248;
        }
        .ion-md-arrow-dropright-circle {
            color: #508AE4;
        }
        .ion-md-heart-outline {
            color: #31D55F;
        }
        .action-sheet-cancel ion-icon,
        .action-sheet-destructive ion-icon {
            color: #757575;
        }
    }
}
