<ion-menu [content]="dashboard">
  <ion-header>
    <img src="assets/menu.jpg" alt="">
  </ion-header>
  <ion-content>
    <ion-list>
        <ng-template ngFor let-p [ngForOf]="pages">
            <button ion-item (click)="openPage(p.link)" menuClose>
                <ion-icon item-left name="{{p.icon}}"color="primary"></ion-icon>
                {{p.title}}
            </button>
        </ng-template>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #dashboard [root]="rootPage"></ion-nav>
