page-detail {

    .label > span{
      font-size: 13px;
      color: #2f884b;
    }
    .scroll-content{
        margin-top: 0 !important;
        padding-top: 56px;
    }
    ion-navbar{
        transition: all .3s;
            .back-button,.bar-button{
            color: #fff;
        }
        .toolbar-title{
            color: white !important;
        }
    }
    .header-md::after{
        background-image: none;
    }
    .header-ios .toolbar-background-ios,.toolbar-background-md,.toolbar-background-wp{
        border-style: none;
        background: none;
        border-color: rgba(0, 0, 0, 0)
    }
    .show-background{
        border-style: none;
        background: #f52f41
    }
    .transition{
        transition: background-size .3s ease-in;
    }
    .content{
        background-color: #fff;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top center;

    }
    .item-info {
        width: 100%;
        height: 100px;
        img {
            display: block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 3px solid rgba(255, 255, 255, 0.8);
            margin: 0 auto;
        }
        h4,p{
            color: #fff;
            text-align: center;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.31);
        }
        h4{
            font-size: 1em;
            margin: 5px 0;
        }
        p{
            padding:0 10px;
            font-size: .8em;
            
        }
    }
    .card{
      margin: 5px 0 !important;
      width: 100%;
      .row{
        border-top: 1px solid #dcdcdc;
      }
      .badge{
        color: #fff;
      }
    }
    .card-content p{
      font-size: 13px;
      margin-bottom: 20px !important;
      span{
            color: gray;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    #map{
        height: 300px;
    }

}
