<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar [class.show-background]="showToolbar">
    <button ion-button menuToggle color="black">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title [hidden]="!showToolbar">
      Detalles
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content" (ionScroll)="onScroll($event)" [class.transition]="transition"
              [style.background-size]="headerImgSize" [style.background-image]="'url('+ headerImgUrl+ ')'">

  <div class="item-info">
    <img src="{{logo}}" alt="">
  </div>
  <ion-card>
    <ion-item center-text>
      <h2 color="black">{{item.name}}</h2>
      <span color="danger">{{item.discount}}% descuento hoy</span>
      <ion-badge item-end color="secondary"><ion-icon ios="ios-star" md="md-star"></ion-icon> {{item.ratingScore}}</ion-badge>
    </ion-item>
    <ion-card-content>
      <p>
        <ion-icon name="bookmark"></ion-icon>
        <span color="danger">Categorías:</span><br> 
        {{item.topCategories}}
      </p>
      <p>
        <ion-icon name="list"></ion-icon>
        <span color="danger">Descripción:</span> <br>
        {{ item.description }}
      </p>
      <p>
        <ion-icon name="pin"></ion-icon>
        <span color="danger">Dirección:</span> <br>
        {{ item.address }}
      </p>
      <div id="map" #map></div>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="time"></ion-icon>
          <div>{{item.deliveryTimeMinMinutes}} - {{item.deliveryTimeMaxMinutes}} min envios</div>
        </button>
      </ion-col>
      <ion-col align="right">
        <button ion-button icon-left clear small>
          <ion-icon name="ios-heart" md="md-heart-outline"></ion-icon>
          <div>{{item.favoritesCount}}</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  
</ion-content>
